html, body, .goose {
  padding:0;
  margin:0;
  height:100%;
  overflow:hidden;
}

.navbar{
	margin-bottom: 0;
}

.input-group input {
	height:3em;
}

.input-group-addon {
	min-width:50px;
	font-size:125%;
	padding:0.5em;
}

.split-container {
	display:table;
	height:100%;
	max-height:100%;
	width:100%;
}

.split-container .cell {
	display:table-cell;
	vertical-align:middle;
	height:100%;
	padding:0 1.25%;
}

.one-quarter {
	width:25%;
}

.one-third {
	width:33.3%;
}

.one-half {
	width:50%;
}

.goose {
	position:relative;
	width:100%;
	height:100%;
}

.goose .bar {
	font-size:2.5vmin;
}

.goose .bar a {
	color:#fff;
}

.goose .bar a.big {
	display:inline-block;
	width:100%;
	height:75%;
}

.goose .topbar {
	position:absolute;
	top:0;
	right:0;
	bottom:90%;
	left:0;
	background:#000;
	color:#fff;
}

.goose .bar img {
	max-height:100%;
	max-width:100%;
	height:100%;
	/*max-width:100%;*/
	/*max-height:90%;*/
}

.goose .bar a:hover {
	/*background:#555;*/
	text-decoration:none;
}

.goose .bottombar {
	position:absolute;
	top:90%;
	right:0;
	bottom:0;
	left:0;
	background:#f4c430;
	/*border-top:1em double #000;*/
}

.goose .map {
	position:absolute;
	top:10%;
	right:0;
	bottom:10%;
	left:0;
}

.goose .map .btns {
	position:absolute;
	right:15px;
	top:15px;
	width:25%;
	max-width:200px;
	z-index:2;
}

.goose .map .sharebtn {
    position:absolute;
	right:15px;
	bottom:15px;
	width:10%;
	max-width:200px;
	z-index:9999;
}

.goose .btn-primary {
	background:#f4c430;
	color:#000;
}

.goose .carousel {
	width:100%;
	height:100%;
	display:table;
	overflow:hidden;
}

.goose .carousel .carousel-inner {
	display:table-cell;
	vertical-align:middle;
	overflow:hidden;
}

.goose .carousel .next, .goose .carousel .prev {
}

.goose .carousel .item {
	padding:0 7%;
}

.goose .carousel-control {
	width:5%;
}

.goose .carousel-control span {
	margin-top:-0.4em;
}

.goose .modal-content {
	border-radius:15px;
}

.goose .modal-header {
	background:#f4c430;
	color:#000;
	border-radius:15px 15px 0 0;
}

.goose .modal-footer {
	background:#000;
	color:#fff;
	border-radius:0 0 15px 15px;
}

.goose table th {
	text-align:right;
	width:25%;
}